---
layout: page
lang: en
alt: /contacto/
permalink: /contact/
title: Contact Us
description: Hello! Use the form below to get in touch with us.
weight: 13
style: white
headerimg: contacto.jpg
header_class: larger2x
---
{% assign translation = site.data.translations[page.lang] %}
<div class="row">
    <!-- insertar mapa -->
    <div class="col-sm-8">
        <h2 class="title-underblock dark mb30">Get In Touch</h2>
        <form action="php/mail.php" method="post" id="contact-form">
            <div class="form-group">
                <label for="contactname" class="input-desc">Name</label>
                <input type="text" class="form-control" id="contactname" name="contactname" placeholder="Your Name" required>
            </div><!-- End .from-group -->
            <div class="form-group">
                <label for="contactemail" class="input-desc">Email</label>
                <input type="email" class="form-control" id="contactemail" name="contactemail" placeholder="Your Email" required>
            </div><!-- End .from-group -->
            <div class="form-group">
                <label for="contactsubject" class="input-desc">Subject</label>
                <input type="text" class="form-control" id="contactsubject" name="contactsubject" placeholder="Subject">
            </div><!-- End .from-group -->
            <div class="form-group">
                <label for="contactmessage" class="input-desc">Message</label>
                <textarea class="form-control" rows="6" id="contactmessage" name="contactmessage" placeholder="Your Message" required></textarea>
            </div><!-- End .from-group -->

            <div class="mb10"></div><!-- space -->

            <div class="form-group">
                <input type="submit" class="btn btn-dark btn-block" data-loading-text="Sending..." value="Send Message">
            </div><!-- End .from-group -->
        </form>
        <div class="mb30"></div><!-- space -->
        <h2 class="title-underblock dark mb30">{{translation.find_us}}</h2>
        {% include maps_script.html %}
        <ul class="contact-list">
          <li>{% include waze-link.html %}</li>
          <li><a href="https://www.google.com/maps/dir/Current+Location/{{site.lat}},{{site.lon}}" target="_blank" class="btn btn-dark no-radius min-width"><i class="fa fa-map"></i> {{ translation.googlemaps }}</a></li>
        </ul>
    </div><!-- End .col-sm-8 -->

    <div class="mb20 visible-xs"></div><!-- space -->

    <div class="col-sm-4">

        <h3 class="mb20">Tours</h3>
        <ul class="contact-list">
        	{% assign tours = site.data.tours %}
            <li><strong>Tours English Phone:</strong> {{ tours.phone }}</li>
            <li><strong>Tours Hours:</strong> {{ tours.hours }}</li>
        </ul>

        <h3 class="mb20">{{ translation.visit_us }}</h3>
        <ul class="contact-list">
          <li>{% include waze-link.html %}</li>
          <li><a href="https://www.google.com/maps/dir/Current+Location/{{site.lat}},{{site.lon}}" target="_blank"><i class="fa fa-map"></i> {{ translation.googlemaps }}</a></li>
        </ul>

        <h3 class="mb20">Fresh Product Orders</h3>
        <ul class="contact-list">
            <li><strong>{{ translation.phone }}:</strong> {{ tours.produce_orders }}</li>
            <li><strong>{{ translation.hours }}</strong><br/>
            <strong>{{ translation.mon }} - {{ translation.thu }}:</strong> 6am - 4pm<br/>
            <strong>{{ translation.fri }}:</strong> 6am - 2pm</li>
        </ul>

        <h3 class="mb20">Nursery</h3>
        <ul class="contact-list">
            <li><strong>Phone:</strong> {{ translation.tba }}</li>
            <li><strong>Hours:</strong> {{ translation.mon }} - {{ translation.fri }} {{ tours.nursery_hours }}</li>
        </ul>

        <div class="well">
        	<h3 class="mb20">Prices in colones</h3>
        	{% include price_list.html %}
        </div>

        <div class="mb20"></div><!-- space -->

    </div><!-- End .col-sm-4 -->

</div><!-- End .row -->
