---
layout: page
lang: en
permalink: /products-upon-request/
alt: /productos-por-pedido/
title: Fresh Product Upon Request
description: These fresh products are available upon request. Check for availability and order ahead of your visit.
weight: 11
headerimg: fresh-products-upon-request.jpg
header_class: largest
custombg: true
---
{% assign translation = site.data.translations[page.lang] %}
<div class="row">
  <div class="col-md-4 flowers-bg">
    <h3>Call and make your request</h3>
		<p>
		<strong>Phone Number:</strong> 2269-9683<br/>
		<strong>Fax:</strong> 2269-8166<br/>
		</p>
		<h3>Hours</h3>
		<p><strong>{{ translation.mon }} - {{ translation.thu }}:</strong> 6am - 4pm<br/>
		<strong>{{ translation.fri }}:</strong> 6am - 2pm</p>
		<p>The Products marked with an asterisk <span class="asterisk">*</span> are available anytime, but it’s best to order ahead of time as they will not be ready packed otherwise.</p>
  </div>
  <div class="col-md-8">
    <div class="table-responsive">
    	<table class="table table-bordered table-hover table-condensed table-hover">
    	    <thead>
    	        <tr>
    	            <th>{{ translation.name }}</th>
    	            <th class="text-right">Each</th>
    	            <th class="text-right">1/2 Kg</th>
    	            <th class="text-right">1 Kg</th>
    	        </tr>
    	    </thead>
    	    <tbody>
    	    	{% for product in site.data.products_upon_request %}
    	        <tr>
    	            <td>{{ product[page.lang] }}{% if product.asterisk == true %}<span class="asterisk">*</span>{% endif %}</td>
    	            <td class="text-right">{% unless product.unit == 'n/a' %}&#162;{{ product.unit }}{% else %}-{% endunless %}</td>
    	            <td class="text-right">{% unless product.half == 'n/a' %}&#162;{{ product.half }}{% else %}-{% endunless %}</td>
    	            <td class="text-right">{% unless product.full == 'n/a' %}&#162;{{ product.full }}{% else %}-{% endunless %}</td>
    	        </tr>
    	        {% endfor %}
    	    </tbody>
    	</table>
    </div>
  </div>
</div>
