<div id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <ul class="footer-menu">
                    {% include mainmenu.html %}
                </ul>
            </div><!-- End .col-md-6 -->
            <div class="col-md-6 col-md-pull-6">
                <p class="copyright">© Ark Herb Farm. All rights reserved.</p>
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div>
<a href="#top" id="scroll-top" title="Back to Top" class="fixed"><i class="fa fa-angle-up"></i></a>