h1.less-margin{
	margin-bottom: 0;
}
.asterisk{
	color: red;
}
ul.product-list{
}
ul.product-list li{
	text-align: center;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 20px 20px 20px;
}
ul.product-list .product-container{
	border: 1px solid #e9e9e9;
	border-radius: 10px;
	overflow: hidden;
	padding-bottom: 10px;
}
ul.product-list li h3{
  margin-bottom: 10px;
  color: #333;
  color: #fff;
  background: url(../images/bg-product.jpg) bottom center;
  padding: 20px;

  font-size: 1.6em;
}
ul.product-list .price{
	text-align: center;
	width: 33%;
	display: inline-block;
}
ul.product-list .amount{
	clear: both;
	font-size: 1.3em;
	font-weight: bold;
	color: #5D8828;
}
.table{
  thead > tr{
    border-top-color: $darker-green;
    border-bottom-color: $darker-green;
  }
  thead>tr>th{
    background-color: $green;
    color: #fff;
    border-color: $darker-green;
  }
  tbody>tr:first-child >td{
    border-top-color: $darker-green;
  }
}
.pre-footer{
  #map{
    margin-bottom:0;
  }
}
.mobileShow { display: none;}
 /* Smartphone Portrait and Landscape */
 @media only screen
 and (min-device-width : 320px)
 and (max-device-width : 480px){ .mobileShow { display: inline;}}
